.App {
  text-align: left;
}

.navLink {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  color: green;
  font-weight: 700;
}

.Button {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color: burlywood;
}

.SpecialButton {
  background-color: black;
}

.CounterParent {
  margin-top: 20px;
  background-color:darksalmon;
  padding: 20px 10px;
  border-radius: 20px;
}

.form, .Counter {
  margin-top: 20px;
  padding: 20px;
  background-color: bisque;
  border-radius: 32px;
  border: 1px solid grey;
}

.ul {
  margin-top: 40px;
  border: 1px solid black;
  padding: 5px 1px;
  border-radius: 6px;
  list-style: circle;
}

.lists {
  font-size: 20px;
  margin-bottom: 20px;
}

.done {
  text-decoration: line-through;
}


